* {
  box-sizing: border-box;
}

html {
  background: #aacdbe;
}

body {
  font-family: Helvetica, sans-serif;
  line-height: 1.5;
  max-width: 800px;
  min-height: 100%;
  margin: 0 auto;
  padding: 20px;
  background: #b0c5a4;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

/* Style for the container of frog elements */
.frogs {
  display: flex; /* Ensures frogs are displayed in a row */
  flex-wrap: wrap; /* Allows frogs to wrap to the next line if needed */
}

/* Style for individual frog elements */
.frog {
  margin: 10px; /* Adds some spacing between frog elements */
}

/* Style for frog images */
.frog img {
  max-width: 300px; /* Ensures images resize proportionally */
  height: auto; /* Ensures images maintain their aspect ratio */
  border-radius: 5px;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
}

.hide {
  display: none;
}

h1 {
  text-transform: uppercase;
  text-align: center;
  font-family: "Jersey 15", sans-serif;
  font-size: 60px;
  margin: 0;
}

p {
  font-weight: bold;
}

/* Search bar styling */

label {
  margin-left: 20px;
}

.search {
  width: 180px;
  margin-bottom: 10px;
  margin-top: 20px;
  padding: 5px;
}

.search:active {
  color: black;
}

.search-and-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-right: 26px;
}

/* Button styling */

.frog-button {
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
  background: #f1ef99;
  text-transform: uppercase;
}

.frog-button:hover {
  background: #ebc49f;
}

.frog-button:active,
.frog-button.currently-selected-button {
  background: #d37676;
}

/* Frog styling */

.frogs {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}
